<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.camptocamp.android.gis"
      android:versionCode="1"
      android:versionName="1.0">
      
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black">
        
        <activity
            android:name=".Map"
            android:label="@string/app_name">
                  
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
                  
            <intent-filter>
                <action android:name="action_toast" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
        
        <activity
            android:name=".C2CDirections"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        
        <activity
            android:name=".Prefs"
            android:label="@string/app_name"/>
        
        <activity
            android:name=".C2CSearchHandler"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            
	        <meta-data
	            android:name="android.app.searchable"
	            android:resource="@xml/searchable" />
            
        </activity>
        
<!--        <provider-->
<!--            android:name="OpenaddressesSearch"-->
<!--            android:authorities="com.camptocamp.android.gis.C2CSearch"-->
<!--            android:syncable="false" />-->
        
        <provider
            android:name="SwisstopoSearch"
            android:authorities="com.camptocamp.android.gis.C2CSearch"
            android:syncable="false" />
            
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".C2CSearchHandler" />

    </application>
    
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
	
</manifest> 
